# Python cache
__pycache__/
*.pyc

# YOLO & training artifacts
runs/
train/
*.pt
*.pth
*.onnx

# Datasets
NEW_DATASET/
data/
valid/images/
test/images/

# Logs / temp
*.log
*.zip
*.tar
*.gz

# Virtual environments
venv/
.env/
